<% @appointments.each do |appointment| %>
  <h3><%= appointment.id %><h3>
  <%= appointment.time %>

  <%= link_to appointment.user.name, user_path(appointment.user) %>

  <%= link_to 'Confirm', confirm_admin_appointment_path(appointment) unless appointment.confirmed %></div>

  <%= link_to 'Cancel', cancel_admin_appointment_path(appointment) %>

   	<%= link_to 'Upload result', upload_result_admin_appointment_path(appointment) %>

  <hr>
<% end %>