<% @appointments.each do |appointment| %>
  <h3><%= appointment.id %><h3>
  <%= appointment.time %>
  <%= link_to appointment.user.name, user_path(appointment.user) %>
  <div class='btn btn-success' style='color:white'>
  <%= link_to 'Confirm', confirm_admin_appointment_path(appointment) %></div>
   <div class='btn btn-danger' style='color:white'>
  <%= link_to 'Cancel', cancel_admin_appointment_path(appointment) %></div>
  <hr>
<% end %>