<!-- Full Width Image Header -->
<header class="headline header-image">
    <nav class="topbar container">
        <div class="logo">
            <a href="/"><img src="<%= image_path "logo.png" %>" alt="Grihachikitsa" /></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#pricing">Pricing</a></li>
            </ul>
            <a href="/users/sign_up" class="btn btn-primary btn-brand">SIGN UP</a>
        </div>
    </nav>

    <div class="header-center">
        <h1>WE BRING DOCTORS HOME</h1>
        <h2>No more waiting at clinics.</h2>

        <div class="header-buttons">
            <% if user_signed_in? %>
                <%= link_to "MY ACCOUNT", user_path(current_user), class: "btn btn-primary btn-brand" %>
            <% else %>
                <%= link_to "REQUEST A VISIT", new_user_registration_path, class: "btn btn-primary btn-brand" %>
            <% end %>
        </div>
    </div>
</header>

<section class="section how-section">
    <div class="container">
        <div class="section-header">
            <h2>Welcome to GrihaChikitsa</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <img src="<%= image_path "how/quality.png" %>" alt="Quality" class="icon" />
                    <p class="title">Quality</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <img src="<%= image_path "how/convenience.png" %>" alt="Convenience" class="icon" />
                    <p class="title">Convenience</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <img src="<%= image_path "how/affordable.png" %>" alt="Affordable" class="icon" />
                    <p class="title">Affordable</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="/img/Pic1500.001.jpg">
        <h2 class="featurette-heading">
            <span class="text-muted">“My mother needs to go to the doctor and I can’t take off from work.”</span>
        </h2>
        <p class="lead">When we heard this statement one too many times, we stopped to think about it. It’s not wrong! Situations are such.  It feels worse when we empathize with our parents too. It’s one of those experiences we can all do without. That’s when we decided to use technology to provide independence to our dependents.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="/img/Pic2500.001.jpg">
        <h2 class="featurette-heading">
            <span class="text-muted">We tie up with hospitals nearby to bring quality medical assistance to the comfort of your home.</span>
        </h2>
        <p class="lead">GrihaChikitsa is a technology driven health care service provider. No more having to feel bad about sidelining your parents’ health.  Keep a constant check on how their health is. Give them the same concern they gave you with the convenience that technology brings..</p>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="/img/Pic3500.001.jpg">
        <h2 class="featurette-heading">
            <span class="text-muted">“Technology How You Ask?”</span>
        </h2>
        <p class="lead">Subscribers of our service get a Master Health Check Up. We upload the results of this check up on our database. A unique login id accessible by a max of 3 persons allows you access to your own personal health portal. Here you can view the health records of your parents.

        Use the app to schedule appointments and keep a close eye on the results without the burden of having to break your schedule.  No one wants to have to prioritize over his or her parents. </p>

         <%= link_to "Sign Up Now And Gift Your Parents Independence!", new_user_registration_path, class: "btn btn-primary", style: 'font-size: 25px' %>
    </div>
</div>
