
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                        <li>
                          <%= link_to 'Profile', user_path(current_user) %>
                        </li>
                    <% end %>
                    <li>
                        <a href="#about" class='navbar-link'>About</a>
                    </li>
                    <li>
                        <a href="#services" class='navbar-link'>Services</a>
                    </li>
                    <li>
                        <a href="#contact" class='navbar-link'>Contact</a>
                    </li>
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
                      </li>
                    <% end %>

                </ul>

                      <%= link_to "Sign In", new_user_session_path, class: 'navbar-link', style: 'float: right; margin-top:15px;'%>
                    
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">

            </div>
        </div>
                        <div class="header-buttons">
                    <% if user_signed_in? %>
                           <%= link_to "My Account", user_path(current_user), class: "btn btn-success" %>
                    <% else %>
                    <p>
                        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary sign-up" %>
                    </p>
                    <% end %>
                </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="/img/Pic1500.001.jpg">
            <h2 class="featurette-heading">
                <span class="text-muted">“My mother needs to go to the doctor and I can’t take off from work.”</span>
            </h2>
            <p class="lead">When we heard this statement one too many times, we stopped to think about it. It’s not wrong! Situations are such.  It feels worse when we empathize with our parents too. It’s one of those experiences we can all do without. That’s when we decided to use technology to provide independence to our dependents.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="/img/Pic2500.001.jpg">
            <h2 class="featurette-heading">
                <span class="text-muted">We tie up with hospitals nearby to bring quality medical assistance to the comfort of your home.</span>
            </h2>
            <p class="lead">GrihaChikitsa is a technology driven health care service provider. No more having to feel bad about sidelining your parents’ health.  Keep a constant check on how their health is. Give them the same concern they gave you with the convenience that technology brings..</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="/img/Pic3500.001.jpg">
            <h2 class="featurette-heading">
                <span class="text-muted">“Technology How You Ask?”</span>
            </h2>
            <p class="lead">Subscribers of our service get a Master Health Check Up. We upload the results of this check up on our database. A unique login id accessible by a max of 3 persons allows you access to your own personal health portal. Here you can view the health records of your parents.

            Use the app to schedule appointments and keep a close eye on the results without the burden of having to break your schedule.  No one wants to have to prioritize over his or her parents. </p> 
             
             <%= link_to "Sign Up Now And Gift Your Parents Independence!", new_user_registration_path, class: "btn btn-primary", style: 'font-size: 25px' %>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

