<nav id="topbar" class="topbar container transparent">
    <div class="logo">
        <a href="/">
            <span class="part1">Griha</span><span class="part2">Chikitsa</span>
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#pricing">Pricing</a></li>
              <% if current_user.try(:admin) %>
            <li><a href="/admin/appointments">Admin Appointments</a></li>
        <%end %>
        </ul>

        <% if user_signed_in? %>
            <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-brand" %>
        <% else %>
            <a href="/users/sign_in" class="btn btn-primary btn-brand">SIGN IN</a>
        <% end %>
    </div>
</nav>

<header class="headline header-image">
    <div class="header-center">
        <h1>WE BRING DOCTORS HOME</h1>
        <h2>No more waiting at clinics.</h2>

        <div class="header-buttons">
            <% if user_signed_in? %>
                <%= link_to "MY ACCOUNT", user_path(current_user), class: "btn btn-primary btn-brand" %>
            <% else %>
                <%= link_to "REQUEST A VISIT", new_user_registration_path, class: "btn btn-primary btn-brand" %>
            <% end %>
        </div>
    </div>
</header>

<section class="section what-section">
    <div class="container">
        <div class="section-header">
            <h2>Welcome to GrihaChikitsa</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="what-item">
                    <img src="<%= image_path "what/quality.png" %>" alt="Quality" class="icon" />
                    <p class="title">Quality</p>
                    <p class="description"> Personalized healthcare from doctors of trusted medical organizations.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="what-item">
                    <img src="<%= image_path "what/convenience.png" %>" alt="Convenience" class="icon" />
                    <p class="title">Convenience</p>
                    <p class="description"> See a doctor at the comfort of your home. No more travelling and waiting in a clinic.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="what-item">
                    <img src="<%= image_path "what/affordable.png" %>" alt="Affordable" class="icon" />
                    <p class="title">Value For Money</p>
                    <p class="description">Your time is expensive. We save that for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section how-section invert">
    <div class="container">
        <div class="section-header">
            <h2>How does it work?</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <span class="number"><span class="text">1</span></span>
                    <p class="description"> Request a visit through the web app or call us</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <span class="number"><span class="text">2</span></span>
                    <p class="description"> We will call you to get a better understanding of your symptoms.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <span class="number"><span class="text">3</span></span>
                    <p class="description"> KNOCK, KNOCK. Medical professional at your doorstep to fix you up.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section services-section" id="services">
    <div class="container">
        <div class="section-header">
            <h2>Services &amp; Pricing</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="services-item">
                    <img src="<%= image_path "what/thermometer.png" %>" alt="Thermometer" class="icon" />
                    <p class="title">ILLNESS</p>
                    <p class="description">The Doctor will diagnose, treat and prescribe appropriate medication in the comfort of your home.</p>
                    <p class="price">Rs.600</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="services-item">
                    <img src="<%= image_path "what/crutches.png" %>" alt="Crutches" class="icon" />
                    <p class="title">INJURY</p>
                    <p class="description">Get treated for Minor Injuries like sprains and wounds that require suturing by Hospital approved Nurses.</p>
                    <p class="price">Rs.500</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="services-item">
                    <img src="<%= image_path "what/physio.png" %>" alt="Physio" class="icon" />
                    <p class="title">PHYSIOTHERAPY</p>
                    <p class="description">Arthritis, displacements and other painful conditions will be alleviated at the comfort of your home.</p>
                    <p class="price">Rs.600</p>
                </div>
            </div>
        </div>

        <div class="row last-row">
            <div class="col-sm-12 col-md-6 column">
                <div class="services-item">
                    <img src="<%= image_path "what/lab.png" %>" alt="Lab Tests" class="icon" />
                    <p class="title">LAB TESTS</p>
                    <p class="description">Sample collection and results delivered home.</p>
                    <p class="price">As per test rates</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 column">
                <div class="services-item">
                    <img src="<%= image_path "what/nursing.png" %>" alt="Nursing Care at Home" class="icon" />
                    <p class="title">NURSING CARE AT HOME</p>
                    <p class="description">Managing bathing,grooming,dressing the patient</p>Assisting patient with mobility related difficulties. And administering oral medication. </p>
                    <p class="price">Rs.500</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer-cta">
    <div class="container">
        <p class="header">No more waiting at Clinics.</p>

        <div class="header-buttons">
            <% if user_signed_in? %>
                <%= link_to "MY ACCOUNT", user_path(current_user), class: "btn btn-primary btn-brand" %>
            <% else %>
                <%= link_to "REQUEST A VISIT", new_user_registration_path, class: "btn btn-primary btn-brand" %>
            <% end %>
        </div>
    </div>
</div>
