<header class="headline header-image">
    <nav class="topbar container">
        <div class="logo">
            <a href="/"><img src="<%= image_path "logo.png" %>" alt="Grihachikitsa" /></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#pricing">Pricing</a></li>
            </ul>
            <a href="/users/sign_up" class="btn btn-primary btn-brand">SIGN UP</a>
        </div>
    </nav>

    <div class="header-center">
        <h1>WE BRING DOCTORS HOME</h1>
        <h2>No more waiting at clinics.</h2>

        <div class="header-buttons">
            <% if user_signed_in? %>
                <%= link_to "MY ACCOUNT", user_path(current_user), class: "btn btn-primary btn-brand" %>
            <% else %>
                <%= link_to "REQUEST A VISIT", new_user_registration_path, class: "btn btn-primary btn-brand" %>
            <% end %>
        </div>
    </div>
</header>

<section class="section what-section">
    <div class="container">
        <div class="section-header">
            <h2>Welcome to GrihaChikitsa</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="what-item">
                    <img src="<%= image_path "what/quality.png" %>" alt="Quality" class="icon" />
                    <p class="title">Quality</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="what-item">
                    <img src="<%= image_path "what/convenience.png" %>" alt="Convenience" class="icon" />
                    <p class="title">Convenience</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="what-item">
                    <img src="<%= image_path "what/affordable.png" %>" alt="Affordable" class="icon" />
                    <p class="title">Affordable</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section how-section invert">
    <div class="container">
        <div class="section-header">
            <h2>How does it work?</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <span class="number"><span class="text">1</span></span>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <span class="number"><span class="text">2</span></span>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="how-item">
                    <span class="number"><span class="text">3</span></span>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section services-section" id="services">
    <div class="container">
        <div class="section-header">
            <h2>Services &amp; Pricing</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 column">
                <div class="services-item">
                    <img src="<%= image_path "what/quality.png" %>" alt="Quality" class="icon" />
                    <p class="title">ILLNESS</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                    <p class="price">$19.99</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="services-item">
                    <img src="<%= image_path "what/convenience.png" %>" alt="Convenience" class="icon" />
                    <p class="title">INJURY</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                    <p class="price">$19.99</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 column">
                <div class="services-item">
                    <img src="<%= image_path "what/affordable.png" %>" alt="Affordable" class="icon" />
                    <p class="title">ELSE</p>
                    <p class="description">This is the description blah blah description more descirption lorem ipsum hello.</p>
                    <p class="price">$19.99</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer-cta">
    <div class="container">
        <p class="header">No more waiting at clinics.</p>

        <div class="header-buttons">
            <% if user_signed_in? %>
                <%= link_to "MY ACCOUNT", user_path(current_user), class: "btn btn-primary btn-brand" %>
            <% else %>
                <%= link_to "REQUEST A VISIT", new_user_registration_path, class: "btn btn-primary btn-brand" %>
            <% end %>
        </div>
    </div>
</div>
