<div class= "jumbotron">
<h1>Choose an appointment date:</h1>

<%= simple_form_for @appointment do |f|%>
	<%= f.datetime_select :time, order: [:day, :month, :year]  %>
	<br>
	<br>
	<%= f.label 'Reason for appointment:' %><br>
	<%= f.text_area :reason, cols: '60', rows: '10' %>
	<br>
	<br>
	<%= f.submit %>
</div>
<% end %>